#!/usr/bin/env python3
# -*- coding: utf-8 -*-

PYRO_API_ID = ""
PYRO_API_SECRET = ""
PYRO_MY_TITLE = "MYounGram v1.0"
PYRO_DBG_DC_IP = ""
PYRO_MY_BOTNAME = ""
PYRO_DBG_RSA_PUB = """-----BEGIN RSA PUBLIC KEY-----

-----END RSA PUBLIC KEY-----"""
PYRO_PROD_DC_IP = ""
PYRO_PROD_RSA_PUB = """-----BEGIN RSA PUBLIC KEY-----

-----END RSA PUBLIC KEY-----"""

HMAC_KEY_B64_URLSAFE_NOPAD = ""
WEB_UrlPrefix = ""
WEB_HostName = ""

DB_REDIS_IP = ""
DB_REDIS_PORT = 6379
DB_REDIS_USER = "default"
DB_REDIS_PASS = ""
DB_REDIS_DB = 0
